@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles";


@theme {
    --font-sans: 'Rubik', sans-serif;
    --color-primary: #F7F7F7;
    --color-secondary: #18A4F5;
    --color-tertiary: #757575;
    --color-quartenary: #D9D9D9;
}

